<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<squeeze2upnp>
  <common>
    <enabled>0</enabled>
    <streambuf_size>524288</streambuf_size>
    <output_size>8388608</output_size>
    <stream_length>-3</stream_length>
    <codecs>aac,ogg,flc,alc,pcm,mp3</codecs>
    <forced_mimetypes>audio/mpeg,audio/vnd.dlna.adts,audio/mp4,audio/x-ms-wma,application/ogg,audio/x-flac</forced_mimetypes>
    <mode>flc:0,r:-48000,s:16</mode>
    <raw_audio_format>raw,wav,aif</raw_audio_format>
    <sample_rate>48000</sample_rate>
    <L24_format>2</L24_format>
    <roon_mode>1</roon_mode>
    <seek_after_pause>1</seek_after_pause>
    <volume_on_play>-1</volume_on_play>
    <flac_header>0</flac_header>
    <accept_nexturi>0</accept_nexturi>
    <next_delay>15</next_delay>
    <keep_alive>0</keep_alive>
    <send_metadata>false</send_metadata>
    <send_coverart>false</send_coverart>
    <flow>0</flow>
  </common>
  <binding>192.168.1.217</binding>
  <slimmain_log>warn</slimmain_log>
  <upnp_log>info</upnp_log>

</squeeze2upnp>