<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<squeeze2upnp>
  <common>
    <enabled>0</enabled>
    <streambuf_size>524288</streambuf_size>
    <output_size>8388608</output_size>
    <stream_length>-3</stream_length>
    <codecs>aac,ogg,flc,alc,pcm,mp3</codecs>
    <forced_mimetypes>audio/mpeg,audio/vnd.dlna.adts,audio/mp4,audio/x-ms-wma,application/ogg,audio/x-flac</forced_mimetypes>
    <mode>flc:0,r:-48000,s:16</mode>
    <raw_audio_format>raw,wav,aif</raw_audio_format>
    <sample_rate>48000</sample_rate>
    <L24_format>2</L24_format>
    <roon_mode>1</roon_mode>
    <seek_after_pause>1</seek_after_pause>
    <volume_on_play>-1</volume_on_play>
    <flac_header>0</flac_header>
    <accept_nexturi>0</accept_nexturi>
    <next_delay>15</next_delay>
    <keep_alive>0</keep_alive>
    <send_metadata>false</send_metadata>
    <send_coverart>false</send_coverart>
    <flow>0</flow>
  </common>
  <binding>192.168.1.217</binding>
  <slimmain_log>warn</slimmain_log>
  <upnp_log>info</upnp_log>
  <device>
    <udn>uuid:eab0e5e6-bed5-15bb-0080-0005cd807216</udn>
    <name>Theater</name>
    <friendly_name>Theater</friendly_name>
    <mac>bb:bb:ad:d9:10:b3</mac>
    <enabled>1</enabled>
    <mode>flc:0,r:48000,s:16</mode>
    <sample_rate>48000</sample_rate>
  </device>
  <device>
    <udn>uuid:da0e2693-a5c9-1628-0080-0005cd52e93e</udn>
    <name>Music Room</name>
    <friendly_name>Music Room</friendly_name>
    <mac>bb:bb:4c:36:c1:9b</mac>
    <enabled>1</enabled>
    <mode>flc:0,r:48000,s:16</mode>
    <sample_rate>48000</sample_rate>
  </device>
  <device>
    <udn>uuid:1862dd58-bc11-12ea-0080-0005cd51b45e</udn>
    <name>Kitchen</name>
    <friendly_name>Kitchen</friendly_name>
    <mac>bb:bb:ca:f1:92:0a</mac>
    <enabled>1</enabled>
    <mode>flc:0,r:48000,s:16</mode>
    <sample_rate>48000</sample_rate>
  </device>
  <device>
    <udn>uuid:92d1a7f8-a6c2-1022-0080-0005cd759950</udn>
    <name>Cobalt</name>
    <friendly_name>Cobalt</friendly_name>
    <mac>bb:bb:08:58:d9:4c</mac>
    <enabled>1</enabled>
    <mode>flc:0,r:48000,s:16</mode>
    <sample_rate>48000</sample_rate>
  </device>
  <device>
    <udn>uuid:1f91f0ab-4d19-151b-0080-0005cdf9dd52</udn>
    <name>Family Room ND8006</name>
    <friendly_name>Family Room ND8006</friendly_name>
    <mac>bb:bb:61:4b:6b:4f</mac>
    <enabled>1</enabled>
    <mode>flc:0,r:48000,s:16</mode>
    <sample_rate>48000</sample_rate>
  </device>
  <device>
    <udn>uuid:c9367a88-61a4-1de5-0080-0005cd6c6aee</udn>
    <name>Study</name>
    <friendly_name>Study</friendly_name>
    <mac>bb:bb:b0:1b:64:1c</mac>
    <enabled>1</enabled>
    <mode>flc:0,r:48000,s:16</mode>
    <sample_rate>48000</sample_rate>
  </device>
  <device>
    <udn>uuid:c8787af0-4923-19a3-0080-0005cd46839e</udn>
    <name>Crystal</name>
    <friendly_name>Crystal</friendly_name>
    <mac>bb:bb:19:d3:75:7d</mac>
    <enabled>1</enabled>
    <mode>flc:0,r:48000,s:16</mode>
    <sample_rate>48000</sample_rate>
  </device>
  <device>
    <udn>uuid:ee74dfa5-74f7-102f-0080-0005cd759aa0</udn>
    <name>Outside</name>
    <friendly_name>Outside</friendly_name>
    <mac>bb:bb:cb:d8:62:a0</mac>
    <enabled>1</enabled>
    <mode>flc:0,r:192000,s:24</mode>
    <sample_rate>192000</sample_rate>
  </device>
  <device>
    <udn>uuid:391bf51e-cf84-1ecb-0080-0005cd75cce0</udn>
    <name>Porch</name>
    <friendly_name>Porch</friendly_name>
    <mac>bb:bb:e5:01:6f:e9</mac>
    <enabled>1</enabled>
    <mode>flc:0,r:192000,s:24</mode>
    <sample_rate>192000</sample_rate>
  </device>
  <device>
    <udn>uuid:1226abeb-d675-171d-0080-0005cd52b5dc</udn>
    <name>Soundbar</name>
    <friendly_name>Soundbar</friendly_name>
    <mac>bb:bb:9b:67:09:6f</mac>
    <enabled>1</enabled>
    <mode>flc:0,r:48000,s:16</mode>
    <sample_rate>48000</sample_rate>
  </device>
  <device>
    <udn>uuid:ae3a7d58-4ada-199b-0080-0005cd51f858</udn>
    <name>Dining Room</name>
    <friendly_name>Dining Room</friendly_name>
    <mac>bb:bb:90:0d:fb:b0</mac>
    <enabled>1</enabled>
    <mode>flc:0,r:48000,s:16</mode>
    <sample_rate>48000</sample_rate>
  </device>
  <device>
    <udn>uuid:7d6d6e3c-c603-1d5c-0080-0005cd51b1e0</udn>
    <name>Living Room</name>
    <friendly_name>Living Room</friendly_name>
    <mac>bb:bb:1b:7a:5e:3d</mac>
    <enabled>1</enabled>
    <mode>flc:0,r:48000,s:16</mode>
    <sample_rate>48000</sample_rate>
  </device>
  <device>
    <udn>uuid:bc27b0c8-5e99-178b-0080-0005cde2425e</udn>
    <name>Master Bedroom</name>
    <friendly_name>Master Bedroom</friendly_name>
    <mac>bb:bb:1e:26:25:cc</mac>
    <enabled>1</enabled>
    <mode>flc:0,r:48000,s:16</mode>
    <sample_rate>48000</sample_rate>
  </device>
</squeeze2upnp>